# ----------------------------------------
# IDEs : PyCharm / JetBrains
# ----------------------------------------
.idea/
*.iws
*.iml
*.ipr

# JetBrains specific files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/httpRequests
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/
.idea/codestream.xml
.idea/**/azureSettings.xml

# ----------------------------------------
# Python / Flask / Django
# ----------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# Local config files
instance/
.local_settings.py
*.log
db.sqlite3
db.sqlite3-journal

# Build / Packaging
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
MANIFEST

# Pytest / coverage / testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,c*
